{% extends "base.html" %}
{% load humanize %}
{% load i18n %}


{% block title %}{% trans "Activación de la cuenta" %}{% endblock %}

{% block content %}
  {% if account %}
<h2>{% trans "Cuenta activada." %}</h2>
    <p> {% trans "Gracias por registrarte. Ahora puedes" %}<a href="{% url auth_login %}">{% trans "entrar a tu cuenta" %}</a>.</p>
  {% else %}
<h2>{% trans "Cuenta no activada." %}</h2>
    <p> {% trans "Lo siento.  Algo ha fallado. O bien tu enlace de activación no era correcto o la clave de activación ha exiprado." %}
      {% trans "La clave sólo es válida durante" %} {{ expiration_days|apnumber }} {% trans "días tras las inscripción" %}
    </p>
  {% endif %}
{% endblock %}
