{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Nuevo Password" %}{% endblock %}

{% block content %}
<br />
<h3>{% trans "Nueva clave de acceso" %}</h3>

<p>{% trans "Ha olvidado su clave? escriba su dirección de correo electrónico y le enviaremos un correo con instrucciones para crear un nuevo password." %}</p>

<form action="" method="post">
	{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Correo Electónico:' %}</label> {{ form.email }} </p>
<p><input class="btn" type="submit" value="{% trans 'restablecer mi contraseña' %}" /></p>
</form>
{% endblock %}
