{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Nuevo Password" %}{% endblock %}

{% block content %}

<h2>{% trans "Nueva clave de acceso" %}</h2>

<p>{% trans "Ha olvidado su clave? escriba su dirección de correo electrónico y le enviaremos un correo con instrucciones para crear un nuevo password." %}</p>

<form action="" method="post">
	{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

{% endblock %}
