{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}
<br />
<h3>{% trans "Cambio de Clave Secreta" %}</h3>

<p>{% trans "Por favor, introduce tu antigua clave por seguridad y luego introduce tu nueva clave dos veces para comprobar que se escribió correctamente" %}</p>

<form action="" method="post">
{% csrf_token %}
{{ form.old_password.errors }}
<p class="aligned wide"><label for="id_old_password"><i class="icon-lock"></i> {% trans ' Antigua clave:' %}</label>{{ form.old_password }}</p>
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1"><i class="icon-lock"></i> {% trans ' Nueva clave:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2"><i class="icon-lock"></i> {% trans ' Confirma la nueva clave:' %}</label>{{ form.new_password2 }}</p>

<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>



{% endblock %}

{% block content-related %}

{% endblock %}
