{% extends "base.html" %}


{% block content %}

<hr />
<h1>Acerca de Nosotros:</h1>
<p class=""> Somos dos ciudadanos que se preguntan si la democracia en
	  España es realmente la "Cracia" del "Demos".  Los
	  representantes del congreso deberían manifestar lo que los
	  ciudadanos piensan en su voto. Gracias a las nuevas
	  tecnologías es posible expresar casi en directo de lo que
	  piensa una parte de la población (sin duda un conjunto
	  sesgado ya que requiere acceso a internet, pero sin duda más
	  representativa que 300 ó 400 políticos). Cuanta más gente
	  como tú/usted <a href="{% url home %}">participe</a> más sabremos sobre el tema.
</p>
<p> Con nuestros conocimientos de las tecnologías de la información
hemos creado esta plataforma que
es <a href="https://github.com/alphydan/votatu" target="_blank">gratuita y libre</a>.
Si tienes sugerencias, contactanos en <a href="mailto:alvaro@renooble.com?Subject=Pregunta%20Votatu">
alvaro@renooble.com</a>.
</p>

      <hr>


{% endblock %}



