{% extends "base.html" %}


{% block content %}

<hr />
<h1>Acerca de Nosotros:</h1>
<p class=""> Somos dos ciudadanos españoles que se preguntan si la
	  democracia en España es realmente la "Cracia" del "Demos".
	  Los representantes del Congreso deberían manifestar lo que
	  los ciudadanos piensan en su voto. Gracias a las nuevas
	  tecnologías es posible expresar casi en directo lo que
	  piensa una parte de la población (sin duda un conjunto
	  sesgado ya que requiere acceso a internet, pero
	  representativo si vota suficiente gente). Cuantos más ciudadanos
	  <a href="{% url home %}">participen</a> más sabremos sobre el tema.
</p>
<p> Con nuestros conocimientos de las tecnologías de la información
hemos creado esta plataforma que
es <a href="https://github.com/alphydan/votatu" target="_blank">gratuita y libre</a>.
Si tienes sugerencias, contactanos en <a href="mailto:vota@votatu.es?Subject=Pregunta%20Votatu">
vota@votatu.es</a> ó <a href="http://twitter.com/vota_tu" target="_blank">siguenos en twitter</a>.
</p>

      <hr>


{% endblock %}



