{% extends "base.html" %}
{% load i18n %}
{% load twitter_tag %}

{% block content %}

<hr>
      <div class="jumbotron">
        <h1>{% trans "Te representa el congreso?" %}  </h1>
	<img class="leon_izq" width="140px" src="{{STATIC_URL}}img/Congreso_de_los_Diputados_(España)_11.png" />
	<img class="leon_dcha" width="140px" src="{{STATIC_URL}}img/Congreso_de_los_Diputados_dcha.png" />
        <p class="big-para"> 
	  {% blocktrans %}
	  Vota aquí y descubre si el voto
	  de los ciudadanos coincide con el del Congreso. Se dice que
	  un pueblo tiene los dirigentes que se merece.  ¿Es así?  Si
	  los ciudadanos pudiésemos votar cada ley,<br> ¿Votaríamos
	  igual que nuestros representantes? 
	  {% endblocktrans %}
	</p>

        <!-- <a class="btn btn-large btn-success" href="#">Sign up today</a> -->
      </div>

      <a href="{% url ley-previas %}">{% trans "Resultados de votaciones previas" %}</a>

      <hr>

      {% for l in voto %}
      <div class="ley-para-votar tooltip-demo">
	  <h3> <span class="muted">{{ l.ley.dia_y_hora_voto|timeuntil }}*</span> -  {{l.ley.get_tipo_ley_display}} ({{l.ley.numero}}) </h3>
	
	<blockquote>
	  <p><a href="#" class="pop" title="¿Qué es?" data-content="{% if l.ley.tipo_ley == 'RDL' %}Una norma jurídica con rango de ley, propia de países con monarquía parlamentaria, que emana del poder ejecutivo y es dictada en caso de extraordinaria y urgente necesidad.{% else %} Un proyecto de ley es una ley presentada por el gobierno para que la apruebe el parlamento.{% endif %}">{{ l.ley.tipo_ley }}</a> {{l.ley.titulo}}.</p>
	  <small>Autor: {{l.ley.autor}} </small>
	</blockquote>

	<p>
	<a data-toggle="collapse" data-target="#mas-info-{{l.ley.slug}}">
	  [+] más información
	</a>
	</p>

	<div id="mas-info-{{l.ley.slug}}" class="collapse">
	  <p><b>{% trans "Texto completo" %}</b>: Para leer el texto completo visita <a href="{{l.ley.texto_completo_html}}" target="_blank">este enlace</a> o descargaté el
	    <a href="{{l.ley.texto_completo_pdf}}" target="_blank">PDF</a>.</p>
	  <p><b>Breve extracto:</b></p>
	  <p>{{l.ley.descripcion|safe}}</p>
	  <h4>¿Tienes más información?</h4> 
	  <p>Compartela en twitter con los hashtags <strong>#121-000029</strong> y <strong>#votatu</strong> y aparecerá aqui:</p>

	  {% get_tweets for "vota_tu" as tweets %}
	  <ul>
	    {% for tweet in tweets %}
	    <li>{{ tweet.html|safe }}</li>
	    {% endfor %}
	  </ul>

	  
	  

	</div>


<form id="vota-ley-{{ l.ley.slug }}" action="/vota/{{ l.ley.slug }}/" method="POST">
{% csrf_token %}
  <button class="btn btn-large btn-primary" type="submit" value="1" name="seleccion">A favor</button> 
  <button class="btn btn-large" type="submit" value="-1" name="seleccion">En Contra</button> 
</form>
	<span class="pull-right"><i class="icon-thumbs-up"></i> {{l.votos_si}} a favor, 	<i class="icon-thumbs-down"></i> {{l.votos_no}} en contra</span>
      </div>
      <hr>      
      {% endfor %}



      <div class="row-fluid marketing">
        <div class="span6">
	  {% for miniley in ley %}
	  {% if forloop.counter == 3 %}
          </div>
        <div class="span6">
          <h4><a href="{% url ley-detail miniley.slug %}">{{miniley.slug}}</a> <span class="muted"> - {{ miniley.dia_y_hora_voto|timeuntil }}*</span></h4>
          <p>{{miniley.titulo}}</p>
	  {% else %}
          <h4><a href="{% url ley-detail miniley.slug %}">{{miniley.slug}}</a> <span class="muted"> - {{ miniley.dia_y_hora_voto|timeuntil }}*</span></h4>
          <p>{{miniley.titulo}}</p>
	  {% endif %}
	  {% endfor %}
	</div><!--/span6 -->
      </div><!--/row -->

      <hr>

{% endblock %}

{% block extraJS %}
<script src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-popover.js"></script>

<script type="text/javascript">
      $(function() {
      $("a.pop").popover({ animation: true, trigger: 'hover' })});
</script>
{% endblock %}


