{% extends "base.html" %}
{% load i18n %}

{% block content %}

      <hr>

      <div class="jumbotron">
        <h1>{% trans "Votos Previos" %}</h1>
	<!-- <img class="leon_izq" width="140px" src="{{STATIC_URL}}img/Congreso_de_los_Diputados_(España)_11.png" /> -->
	<img class="leon_izq" width="140px" src="{{STATIC_URL}}img/Congreso_de_los_Diputados_dcha.png" />
	<h4>{% trans "¿Cómo han votado sus representantes?" %}</h4>
      </div>

      <hr>

      {% for l in ley %}
      <div class="ley-para-votar tooltip-demo">
	  <h3> <span class="muted">{{ l.dia_y_hora_voto|date:"j/F, Y" }}*</span> -  {{l.get_tipo_ley_display}} ({{l.numero}}) </h3>
	
	<blockquote>
	  <p><a href="#" class="pop" title="¿Qué es?" data-content="{% if l.tipo_ley == 'RDL' %}Una norma jurídica con rango de ley, propia de países con monarquía parlamentaria, que emana del poder ejecutivo y es dictada en caso de extraordinaria y urgente necesidad.{% else %} Un proyecto de ley es una ley presentada por el gobierno para que la apruebe el parlamento.{% endif %}">{{ l.get_tipo_ley_display }}</a> {{l.titulo}}.</p>

{% if l.votos_si and l.votos_no %}
      <div class="span4"><img src="//chart.googleapis.com/chart?chf=bg,s,FFFFFF&chxs=0,676767,15.5&chxt=x&chs=380x168&cht=pc&chco=0065CC&chds=1,350&chd=t:{{l.votos_si}},{{l.votos_no}},{{l.votos_aus}},{{l.votos_abs}},3&chl=a+favor({{l.votos_si}})|en+contra({{l.votos_no}})|ausentes({{l.votos_aus}})|abstenci%C3%B3n({{l.votos_abs}})&chtt=votos+en+el+congreso%3A&chts=676767,15.5" width="380" height="168" alt="votos en el congreso:" /></div>

      <div class="span4"><img src="//chart.googleapis.com/chart?chf=bg,s,FFFFFF&chxs=0,676767,15.5&chxt=x&chs=380x168&cht=pc&chco=0065CC&chds=1,350&chd=t:{{l.votos_si}},{{l.votos_no}},{{l.votos_aus}},{{l.votos_abs}},3&chl=a+favor({{l.votos_si}})|en+contra({{l.votos_no}})|ausentes({{l.votos_aus}})|abstenci%C3%B3n({{l.votos_abs}})&chtt=votos+en+votatu%3A&chts=676767,15.5" width="380" height="168" alt="votos en el congreso:" /></div>
{% else %}
<h3> Lo sentimos. Los resultados de este voto aún no están disponibles. </h3>
{% endif %}






	  <small>Autor: {{l.autor}} </small>
	</blockquote>

	<p>
	<a data-toggle="collapse" data-target="#mas-info-{{l.slug}}">
	  [+] más información
	</a>
	</p>

	<div id="mas-info-{{l.slug}}" class="collapse">
	  <p>Texto Completo [<a href="{{l.texto_completo_html}}" target="_blank">HTML</a>, 
	    <a href="{{l.texto_completo_pdf}}" target="_blank">PDF</a>]</p>
	  <p>{{l.descripcion|safe}}</p>
	  <h4>¿Tienes más información?</h4> 
	  <p>Compartela en twitter con los hashtags <strong>#121-000029</strong> y <strong>#votatu</strong> y aparecerá aqui:</p>
	</div>


        <a class="btn btn-large btn-primary" href="#"> A favor</a> 
	<a class="btn btn-large  " href="#">En Contra</a>
	<span class="pull-right"><i class="icon-thumbs-up"></i> 4 a favor, 	<i class="icon-thumbs-down"></i> 2000 en contra</span>
      </div>
      <hr>      
      {% endfor %}










      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

{% endblock %}

{% block extraJS %}
<script src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-popover.js"></script>

<script type="text/javascript">
      $(function() {
      $("a.pop").popover({ animation: true, trigger: 'hover' })});
</script>
{% endblock %}


